@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jersey 15", serif;
}

.container {
  min-height: 100vh;
  display: grid;
}

.forms {
  background-color: lightblue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.resume {
  background-color: lightcoral;
}

form {
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  background-color: lightcoral;
}

.form-bar {
  width: 80%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightcoral;
}

.bar-title {
  font-size: 1.25rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 0.25rem;
  width: 66%;
}

legend {
  font-size: 1.25rem;
}

input,
button {
  padding: 0.25rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.5rem;
}

section,
.general-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.general-text {
  gap: 3rem;
}

.resume-general {
  flex-direction: row;
  justify-content: space-between;
}

.general-text .edit-btn {
  align-self: start;
}

h2 {
  font-size: 2.5rem;
}

.general-photo {
  background-color: lightgrey;
  width: 13rem;
  height: 15rem;
}

.text-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-btn {
  align-self: flex-end;
}

@media (min-width: 300px) {
  .resume {
    padding: 3rem 5rem;
  }
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
  .resume {
    padding: 3rem 10rem;
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }
  .resume {
    padding: 3rem 15rem;
  }
}
